// load the base configuration
exec default.cfg
// load the last saved configuration
exec config.cfg

// settings that came with this mod
// you can of course modify these if you need to
r_maxedges "100000"	//default 2400
r_maxsurfs "100000"	//default 800
r_waterwarp "0"		//should be enabled in some engines though
gl_clear "1"		
r_clearcolor "2"	//winquake grey
gl_farclip "16384"
r_farclip "16384"

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// no special demos to run
//startdemos demo1 demo2 demo3
