// This file is an EXAMPLE of the settings you could put in your autoexec.cfg
// file. To use settings in this file, either copy them into your autoexec.cfg
// file (if you already have one) or else just rename this whole file to
// autoexec.cfg.

// Before using these settings you should check to see if they are really
// doing what you would prefer!

// Any line that starts with doubleslash is a comment and has no effect.

// The comments here are VERY brief. Some of these settings have interesting
// nuances and/or won't work in all Quake engines. (They will all work fine in
// Quakespasm-Spiked though.) It's really recommended to have a look at
// autoexec-cfg-example-annotated.txt for more discussion of these and a few
// additional settings.


//-------------------------------------------------------------------


// Set a higher framerate cap. Note that using this setting can be ineffective
// or even bad in some Quake engines (but is fine in Quakespasm-Spiked).
host_maxfps 144

// Don't use vertical autoaim.
sv_aim 1

// Let's have a crosshair!
crosshair 1
scr_crosshairscale 2

// Default to Hard difficulty unless you select something else.
skill 2

// Use pixel-y textures, but avoid artifacts on surfaces viewed at steep
// angles.
gl_texturemode GL_NEAREST_MIPMAP_LINEAR
gl_texture_anisotropy 8

// Use a gun position more like original Quake's.
r_viewmodel_quake 1

// Use square particles.
r_particles 2

// Enable liquid transparency if the map was compiled to support it. Note that
// the map may also override this value.
r_wateralpha 0.5
