// This file is an EXAMPLE of the settings you could put in your autoexec.cfg
// file. To use settings in this file, either copy them into your autoexec.cfg
// file (if you already have one) or else just rename this whole file to
// autoexec.cfg.

// Any line that starts with doubleslash is a comment and has no effect.

// For more discussion, see autoexec-cfg-example-annotated.txt. Detailed
// comments have been moved to that file because of Quake limits on config
// file size.


// about the settings in this file
//-------------------------------------------------------------------

// Some of the commented lines below are example settings (in these examples,
// they are terms that start with "sv_" or gl_" or "r_"). They are currently
// commented out with a doubleslash just so they won't immediately take effect
// if you rename this file to autoexec.cfg.

// If you want a setting to take effect in your autoexec.cfg, make sure to
// remove the doubleslash from the beginning of the line. You can change the
// setting's value if you like... you don't have to use the example value
// shown below.

// Some of these values correspond to settings that are also exposed through
// menus in Mark V or other modern Quake engines. If you set them in the
// autoexec.cfg file instead of through the menus, then the value in
// autoexec.cfg will be applied whenever Quake starts, regardless of what you
// previously set in the menus.


// autoaim
//-------------------------------------------------------------------

// Set sv_aim to a value of 1 or more for no autoaim, or a value less than 1
// for some vertical autoaim.
// Default is 0.93. Uncomment the following line to set some other value.

//sv_aim 2


// texture filtering (these don't apply to the winquake variant)
//-------------------------------------------------------------------

// Set gl_texturemode for amount of texture filtering and "pixely-ness".
// There are several values for this, but a few interesting ones are:
//   GL_NEAREST_MIPMAP_NEAREST for pixely textures and abrupt mipmap level
//   transitions as the textured object gets farther away.
//   GL_NEAREST_MIPMAP_LINEAR for pixely textures but smooth transitions
//   between mipmap levels.
//   GL_LINEAR_MIPMAP_LINEAR for smoothed textures and smooth transitions
//   between mipmap levels.
// Default is GL_LINEAR_MIPMAP_LINEAR. Uncomment the following line to set
// some other value.

//gl_texturemode GL_NEAREST_MIPMAP_LINEAR

// Increase gl_texture_anisotropy for more texture clarity in some situations.
// Default is 1. Uncomment the following line to set some other value.

//gl_texture_anisotropy 8


// weapon rendering
//-------------------------------------------------------------------

// Set r_viewmodel_quake to a value of 1 to make the position of the held
// weapon's model be more like it is in WinQuake.
// Default is 0. Uncomment the following line to set some other value.

//r_viewmodel_quake 1


// particle shape (this doesn't apply to the winquake variant)
//-------------------------------------------------------------------

// Set r_particles to 2 for square particles, 1 for round.
// Default is 1. Uncomment the following line to set some other value.

//r_particles 2


// transparency & mirrors (other than r_wateralpha, Mark V only)
//-------------------------------------------------------------------

// 1 = no transparency/reflection, 0 = full transparency/reflection
// Defaults are 1, 0.2, 0.7, and 0.5 respectively. Uncomment the following
// lines to set some other value.

//r_lavaalpha 1
//r_mirroralpha 1
//r_slimealpha 1
//r_wateralpha 1


// water warp (Mark V only - this doesn't apply to the winquake variant)
//-------------------------------------------------------------------

// Default is 150. Uncomment the following line to set some other value.
// Larger values decrease the strength of the warp effect, although the
// exact effect depends upon your chosen video resolution.

//r_waterwarp_amp 500


// animations
//-------------------------------------------------------------------

// Set r_lerpmove to 0 for old jerky enemy animations, 1 for smoothed.
// Default is 1. Uncomment the following line to set some other value.

//r_lerpmove 0

// Set r_lerpmodels to 0 for old jerky weapon animations, 1 for smoothed.
// Default is 1. Uncomment the following line to set some other value.

//r_lerpmodels 0
