// This file is an EXAMPLE of the settings you could put in your autoexec.cfg
// file. To use settings in this file, either copy them into your autoexec.cfg
// file (if you already have one) or else just rename this whole file to
// autoexec.cfg.

// Any line that starts with doubleslash is a comment and has no effect. All
// example settings here are commented-out to begin with.

// For more discussion, see autoexec-cfg-example-annotated.txt. (It is a really
// good idea to have a look in there!) Detailed comments have been moved to
// that file because of Quake limits on config file size. Note that if you are
// using a Quake engine with the old original config limits (such as qbism
// Super8) and running a mod that has a very large quake.rc file (such as
// Arcane Dimensions), even this reduced-size file could be too big. The safest
// approach will always be to just create your own autoexec.cfg file and put
// only the exact settings you need there.


//-------------------------------------------------------------------


// Set host_maxfps to a higher value to raise the framerate cap, or set it to
// 0 for uncapped framerate. Note that this is not advised in Mark V or the
// original Quakespasm as physics issues will pop up at framerates over 72.
// For Quakespasm-Spiked and several other Quake engines this is OK though.
// Default depends on the Quake engine but is usually 72.
//host_maxfps 144

// Set sv_aim to a value of 1 or more for no autoaim, or a value less than 1
// for some vertical autoaim. Default is 0.93.
//sv_aim 1

// Set crosshair to 1 to enable the crosshair and 0 to disable it. Default is 0.
//crosshair 1

// Set a scr_crosshairscale value from 1 to 10 to control the size of the
// crosshair, including decimal values like 3.5. Default is 1.
//scr_crosshairscale 2

// Set gl_texturemode for amount of texture filtering and "pixely-ness".
// Does not apply to vkQuake (use the Video Options in-game menu instead).
// There are several values for this, but a few interesting ones are:
//   GL_NEAREST for pixely textures and no mipmaps (so, loss of quality on
//   far objects)
//   GL_NEAREST_MIPMAP_NEAREST for pixely textures and abrupt mipmap level
//   transitions as the textured object gets farther away.
//   GL_NEAREST_MIPMAP_LINEAR for pixely textures but smooth transitions
//   between mipmap levels.
//   GL_LINEAR_MIPMAP_LINEAR for smoothed textures and smooth transitions
//   between mipmap levels. This is the default.
//gl_texturemode GL_NEAREST_MIPMAP_LINEAR

// Increase gl_texture_anisotropy for more texture clarity in some situations.
// Does not apply to vkQuake (use the Video Options in-game menu instead).
// Default is 1.
//gl_texture_anisotropy 8

// Set r_viewmodel_quake to a value of 1 to make the position of the held
// weapon's model be more like it is in WinQuake. Default is 0.
//r_viewmodel_quake 1

// Set r_particles to 2 for square particles, 1 for round. Default is 1.
//r_particles 2

// Set r_wateralpha to 1 for no liquids transparency, 0 for full liquids
// transparency, or some decimal value in between. Note that the map itself
// may force some other value. Also: in engines other than Quakespasm-Spiked
// and Mark V, lowering this value on old maps that do NOT support transparent
// liquids can cause visual glitches. Default is 1.
//r_wateralpha 0.5

// Set these variables to determine other material transparencies. 0 means
// to use whatever the r_wateralpha value is. Otherwise, values up to 1 will
// set the amount of transparency with 1 being fully opaque. Default is 0.
//r_lavaalpha 0.5
//r_slimealpha 0.5
//r_telealpha 0.5

// Set r_lerpmove to 0 for old jerky enemy animations, 1 for smoothed.
// Default is 1.
//r_lerpmove 0

// Set r_lerpmodels to 0 for old jerky weapon animations, 1 for smoothed.
// Default is 1.
//r_lerpmodels 0