// load the base configuration
exec default.cfg
// load the last saved configuration
exec config.cfg

// settings that came with this mod
// you can of course modify these if you need to
r_wateralpha 0.5

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// Contract Revoked has a demo, so run it!
startdemos demo1
