// load the base configuration
exec default.cfg
// load the last saved configuration
exec config.cfg

// settings that came with this mod
// you can of course modify these if you need to
r_wateralpha 0.3
r_maxedges 4000
r_maxsurfs 4000

// run a user script file if present
exec autoexec.cfg

// stuff command line statements
stuffcmds

// no special demos to run
//startdemos demo1 demo2 demo3
